@using Microsoft.AspNetCore.Identity
@model List<AppUser>

@{
    ViewData["Title"] = "Kullanıcılar";
}

@section Navbar {
    @await Html.PartialAsync("../Shared/Sections/Navbar/_Navbar.cshtml")
}

@section VerticalMenu {
    @await Html.PartialAsync("../Shared/Sections/Menu/_VerticalMenu.cshtml", null, new ViewDataDictionary(ViewData) { { "Language", ViewBag.Lang } })
}

<h1 class="h4 mt-3 w-75 bx-pull-left">Kullanıcılar</h1>

<div class="bx-pull-right mt-2 mb-2">
    <form asp-controller="ExportData" asp-action="ExportUsersDataToFile" method="post" enctype="multipart/form-data">
        <input type="hidden" id="Export" name="Export" value="" />
        <input type="hidden" id="Language" name="Language" value="@ViewBag.Lang" />

        <button type="submit" id="btnExcel" download>
            <img src="/img/icons/excel.png" style="width: 40px;" />
        </button>

        <button type="submit" id="btnPdf" download>
            <img src="/img/icons/pdf.png" style="width: 40px;" />
        </button>

        <button type="submit" id="btnWord" download>
            <img src="/img/icons/word.png" style="width: 40px;" />
        </button>
    </form>
</div>

<hr class="w-100" />

@if (Model.Count > 0)
{
    <div class="w-100 overflow-scroll" style="height: 800px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-1">Id</th>
                    <th class="col-2">Resim</th>
                    <th class="col-2">Kullanıcı Adı</th>
                    <th class="col-2">Adı Soyadı</th>
                    <th class="col-2">Kayıt Tarihi</th>
                    <th class="col-2">Roller</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (AppUser user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td><img src="@user.Image" width="100%" /></td>
                        <td>@user.UserName</td>
                        <td>@user.FullName</td>
                        <td>@user.DateAdded.ToString("dd.MM.yyyy HH:mm")</td>
                        <td>
                            <ul class="list-group">
                                @{
                                    List<AppUserRolesViewModel>? userRoles = await DataControl.GetUserRoles(user.Id);

                                    foreach (AppUserRolesViewModel userRole in userRoles)
                                    {
                                        AppRole? role = await DataControl.GetRole(userRole.RoleId);
                                        <li class="list-group-item">@role!.Name</li>
                                    }
                                }
                            </ul>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" asp-route-lang="@ViewBag.Lang">Düzenle</a>
                            <a class="btn btn-danger" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" asp-route-lang="@ViewBag.Lang">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

else
{
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Herhangi bir kayıt bulunmamaktadır.</td>
            </tr>
        </tbody>
    </table>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnProducts").css("background-color", "#fff");
            $("#btnBrands").css("background-color", "#fff");
            $("#btnCities").css("background-color", "#fff");
            $("#btnCategories").css("background-color", "#fff");
            $("#btnUsers").css("background-color", "#788393");
            $("#btnUsers").css("color", "#fff");
            $("#btnRoles").css("background-color", "#fff");
            let searchParams = new URLSearchParams(window.location.search);
            let lang = searchParams.get('lang');

            if (lang == "en") {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-en");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu > .dropdown-item").data("lang", "tr");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Search...");
                $(".h4").text("Users");
                $($(".table > thead > tr > th")[1]).text("Image");
                $($(".table > thead > tr > th")[2]).text("User Name");
                $($(".table > thead > tr > th")[3]).text("Full Name");
                $($(".table > thead > tr > th")[4]).text("Record Date");
                $($(".table > thead > tr > th")[5]).text("Roles");

                if ($(".table > tbody > tr > td").last().text() == "Herhangi bir kayıt bulunmamaktadır.") {
                    $(".table > tbody > tr > td").last().text("There are no records.");
                }

                $("#page-title").text("Users");
                $("#btnProducts > div").text("Products");
                $("#btnBrands > div").text("Brands");
                $("#btnCategories > div").text("Categories");
                $("#btnCities > div").text("Cities");
                $("#btnUsers > div").text("Users");
                $("#btnRoles > div").text("Roles");
                $("#btnOrders > div").text("Orders");
                $(".btn-primary").text("Edit");
                $(".btn-danger").text("Delete");
            }

            else {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-tr");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu > .dropdown-item").data("lang", "en");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Ara...");
                $(".h4").text("Kullanıcılar");
                $($(".table > thead > tr > th")[1]).text("Resim");
                $($(".table > thead > tr > th")[2]).text("Kullanıcı Adı");
                $($(".table > thead > tr > th")[3]).text("Adı Soyadı");
                $($(".table > thead > tr > th")[4]).text("Kayıt Tarihi");
                $($(".table > thead > tr > th")[5]).text("Roller");

                if ($(".table > tbody > tr > td").last().text() == "There are no records.") {
                    $(".table > tbody > tr > td").last().text("Herhangi bir kayıt bulunmamaktadır.");
                }

                $("#page-title").text("Kullanıcılar");
                $("#btnProducts > div").text("Ürünler");
                $("#btnBrands > div").text("Markalar");
                $("#btnCategories > div").text("Kategoriler");
                $("#btnCities > div").text("Şehirler");
                $("#btnUsers > div").text("Kullanıcılar");
                $("#btnRoles > div").text("Roller");
                $("#btnOrders > div").text("Siparişler");
                $(".btn-primary").text("Düzenle");
                $(".btn-danger").text("Sil");
            }
        });

        $(document).on("click", "#btnExcel", function () {
            $("#Export").val("Excel");
        });

        $(document).on("click", "#btnPdf", function () {
            $("#Export").val("Pdf");
        });

        $(document).on("click", "#btnWord", function () {
            $("#Export").val("Word");
        });
    </script>
}