@model ProductViewModel

@{
    ViewData["Title"] = "Ürün Ekle";
}

@section Navbar {
    @await Html.PartialAsync("../Shared/Sections/Navbar/_Navbar.cshtml")
}

@section VerticalMenu {
    @await Html.PartialAsync("../Shared/Sections/Menu/_VerticalMenu.cshtml", null, new ViewDataDictionary(ViewData) { { "Language", ViewBag.Lang } })
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        @ViewBag.Message
    </div>
}

<h1 class="h4 mt-3">Ürün Ekle</h1>
<hr />

<form asp-controller="Products" asp-action="Create" asp-route-lang="@ViewBag.Lang" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label" id="lblProductName"></label>

        <div class="d-flex">
            <input type="text" asp-for="Name" class="form-control" />
            <input type="hidden" asp-for="Ml1Name" />
            <input type="hidden" asp-for="Ml2Name" />
            <div class="dropdown">
                <button class="btn btn-white dropdown-toggle h-100 bg-white border" type="button" id="dropdownProductNameMenuButton" data-toggle="dropdown" onclick="langSelectorProductNameClick()" onblur="langSelectorProductNameBlur()">
                    <span class="flag-icon flag-icon-tr"></span>
                </button>
                <div class="dropdown-menu lang-menu-product-name" style="min-width:60px;" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" style="cursor:pointer;" data-lang="en">
                        <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg" width="30" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label" id="lblPrice"></label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label" id="lblDescription"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Url" class="form-label"></label>
        <input type="text" asp-for="Url" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="SubCategoryId" class="form-label" id="lblSubCategory"></label>
        <select class="form-select" asp-for="SubCategoryId">
            @foreach (SubCategory subCategory in @ViewBag.SubCategories)
            {
                <option value="@subCategory.Id">@subCategory.Name</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="BrandId" class="form-label" id="lblBrand"></label>
        <select class="form-select" asp-for="BrandId">
            @foreach (Brand brand in @ViewBag.Brands)
            {
                <option value="@brand.Id">@brand.Name</option>
            }
        </select>
    </div>

    <input type="submit" class="btn btn-primary" value="Kaydet" />
    <button asp-controller="Products" asp-action="Index" asp-route-lang="@ViewBag.Lang" class="btn btn-danger">İptal</button>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnProducts").css("background-color", "#788393");
            $("#btnProducts").css("color", "#fff");
            $("#btnBrands").css("background-color", "#fff");
            $("#btnCities").css("background-color", "#fff");
            $("#btnCategories").css("background-color", "#fff");
            $("#btnUsers").css("background-color", "#fff");
            $("#btnRoles").css("background-color", "#fff");
            let searchParams = new URLSearchParams(window.location.search);
            let lang = searchParams.get('lang');

            if (lang == "en") {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-en");
                $("#dropdownProductNameMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownProductNameMenuButton > .flag-icon").addClass("flag-icon-en");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu > .dropdown-item").data("lang", "tr");
                $(".lang-menu-product-name > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu-product-name > .dropdown-item").data("lang", "tr");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Search...");
                $(".h4").text("Add Product");
                $("#lblProductName").text("Product Name *");
                $("#lblPrice").text("Price *");
                $("#lblDescription").text("Description *");
                $("#lblSubCategory").text("Sub Category *");
                $("#lblBrand").text("Brand *");
                $(".btn-primary").val("Save");
                $(".btn-danger").text("Cancel");
                $(".alert-danger").text("This record is already exists.");
                $("#page-title").text("Add Product");

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetSubCategories",
                    dataType: 'Json',
                    success: function (subcategories) {
                        if (subcategories.length > 0) {
                            for (let i = 0; i < subcategories.length; i++) {
                                let $targetCell = $("#SubCategoryId > option").eq(i);
                                $targetCell.text(subcategories[i].ml2Name == null ? subcategories[i].name : subcategories[i].ml2Name);
                            }
                        }
                    }
                });

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetBrands",
                    dataType: 'Json',
                    success: function (brands) {
                        if (brands.length > 0) {
                            for (let i = 0; i < brands.length; i++) {
                                let $targetCell = $("#BrandId > option").eq(i);
                                $targetCell.text(brands[i].ml2Name == null ? brands[i].name : brands[i].ml2Name);
                            }
                        }
                    }
                });

                $("#btnProducts > div").text("Products");
                $("#btnBrands > div").text("Brands");
                $("#btnCategories > div").text("Categories");
                $("#btnCities > div").text("Cities");
                $("#btnUsers > div").text("Users");
                $("#btnRoles > div").text("Roles");
                $("#btnOrders > div").text("Orders");
                $($(".validation-summary-errors > ul > li")[0]).text($($(".validation-summary-errors > ul > li")[0]).text().replace("Ürün Adı bilgisi zorunlu.", "Product Name field is required."));
                $($(".validation-summary-errors > ul > li")[0]).text($($(".validation-summary-errors > ul > li")[0]).text().replace("Ücreti bilgisi zorunlu.", "Price field is required."));
                $($(".validation-summary-errors > ul > li")[0]).text($($(".validation-summary-errors > ul > li")[0]).text().replace("Açıklama bilgisi zorunlu.", "Description field is required."));
                $($(".validation-summary-errors > ul > li")[0]).text($($(".validation-summary-errors > ul > li")[0]).text().replace("Url bilgisi zorunlu.", "Url field is required."));
                $($(".validation-summary-errors > ul > li")[1]).text($($(".validation-summary-errors > ul > li")[1]).text().replace("Ürün Adı bilgisi zorunlu.", "Product Name field is required."));
                $($(".validation-summary-errors > ul > li")[1]).text($($(".validation-summary-errors > ul > li")[1]).text().replace("Ücreti bilgisi zorunlu.", "Price field is required."));
                $($(".validation-summary-errors > ul > li")[1]).text($($(".validation-summary-errors > ul > li")[1]).text().replace("Açıklama bilgisi zorunlu.", "Description field is required."));
                $($(".validation-summary-errors > ul > li")[1]).text($($(".validation-summary-errors > ul > li")[1]).text().replace("Url bilgisi zorunlu.", "Url field is required."));
                $($(".validation-summary-errors > ul > li")[2]).text($($(".validation-summary-errors > ul > li")[2]).text().replace("Ürün Adı bilgisi zorunlu.", "Product Name field is required."));
                $($(".validation-summary-errors > ul > li")[2]).text($($(".validation-summary-errors > ul > li")[2]).text().replace("Ücreti bilgisi zorunlu.", "Price field is required."));
                $($(".validation-summary-errors > ul > li")[2]).text($($(".validation-summary-errors > ul > li")[2]).text().replace("Açıklama bilgisi zorunlu.", "Description field is required."));
                $($(".validation-summary-errors > ul > li")[2]).text($($(".validation-summary-errors > ul > li")[2]).text().replace("Url bilgisi zorunlu.", "Url field is required."));
                $($(".validation-summary-errors > ul > li")[3]).text($($(".validation-summary-errors > ul > li")[3]).text().replace("Ürün Adı bilgisi zorunlu.", "Product Name field is required."));
                $($(".validation-summary-errors > ul > li")[3]).text($($(".validation-summary-errors > ul > li")[3]).text().replace("Ücreti bilgisi zorunlu.", "Price field is required."));
                $($(".validation-summary-errors > ul > li")[3]).text($($(".validation-summary-errors > ul > li")[3]).text().replace("Açıklama bilgisi zorunlu.", "Description field is required."));
                $($(".validation-summary-errors > ul > li")[3]).text($($(".validation-summary-errors > ul > li")[3]).text().replace("Url bilgisi zorunlu.", "Url field is required."));
            }

            else {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-tr");
                $("#dropdownProductNameMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownProductNameMenuButton > .flag-icon").addClass("flag-icon-tr");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu > .dropdown-item").data("lang", "en");
                $(".lang-menu-product-name > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu-product-name > .dropdown-item").data("lang", "en");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Ara...");
                $(".h4").text("Ürün Ekle");
                $("#lblProductName").text("Ürün Adı *");
                $("#lblPrice").text("Ücreti *");
                $("#lblDescription").text("Açıklama *");
                $("#lblSubCategory").text("Alt Kategori *");
                $("#lblBrand").text("Marka *");
                $(".btn-primary").val("Kaydet");
                $(".btn-danger").text("İptal");
                $(".alert-danger").text("Böyle bir kayıt zaten var.");
                $("#page-title").text("Ürün Ekle");

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetSubCategories",
                    dataType: 'Json',
                    success: function (subcategories) {
                        if (subcategories.length > 0) {
                            for (let i = 0; i < subcategories.length; i++) {
                                let $targetCell = $("#SubCategoryId > option").eq(i);
                                $targetCell.text(subcategories[i].ml1Name == null ? subcategories[i].name : subcategories[i].ml1Name);
                            }
                        }
                    }
                });

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetBrands",
                    dataType: 'Json',
                    success: function (brands) {
                        if (brands.length > 0) {
                            for (let i = 0; i < brands.length; i++) {
                                let $targetCell = $("#BrandId > option").eq(i);
                                $targetCell.text(brands[i].ml1Name == null ? brands[i].name : brands[i].ml1Name);
                            }
                        }
                    }
                });

                $("#btnProducts > div").text("Ürünler");
                $("#btnBrands > div").text("Markalar");
                $("#btnCategories > div").text("Kategoriler");
                $("#btnCities > div").text("Şehirler");
                $("#btnUsers > div").text("Kullanıcılar");
                $("#btnRoles > div").text("Roller");
                $("#btnOrders > div").text("Siparişler");
            }
        });

        function langSelectorProductNameClick() {
            if ($(".lang-menu-product-name").is(":visible")) {
                $(".lang-menu-product-name").hide();
            }

            else {
                $(".lang-menu-product-name").show();
            }
        }

        function langSelectorProductNameBlur() {
            setTimeout(
                function () {
                    $(".lang-menu-product-name").hide();
                }, 100
            );
        }

        $(document).on("click", ".lang-menu-product-name > .dropdown-item", function () {
            let lang = $(this).data("lang");

            if (lang == "en") {
                $("#dropdownProductNameMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownProductNameMenuButton > .flag-icon").addClass("flag-icon-en");
                $(".lang-menu-product-name > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu-product-name > .dropdown-item").data("lang", "tr");
                $("#Name").data("tr", $("#Name").val());
                $("#Name").val($("#Name").data("en"));
                $("#Ml1Name").val($("#Name").data("tr"));
            }

            else {
                $("#dropdownProductNameMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownProductNameMenuButton > .flag-icon").addClass("flag-icon-tr");
                $(".lang-menu-product-name > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu-product-name > .dropdown-item").data("lang", "en");
                $("#Name").data("en", $("#Name").val());
                $("#Name").val($("#Name").data("tr"));
                $("#Ml2Name").val($("#Name").data("en"));
            }
        });

        $(document).on("blur", "#Name", function () {
            let lang = $(".lang-menu-product-name > .dropdown-item").data("lang");

            if (lang == "en") {
                $("#Ml1Name").val($("#Name").val());
            }

            else {
                $("#Ml2Name").val($("#Name").val());
            }
        });
    </script>
}