@model List<Product>

@{
    ViewData["Title"] = "Ürünler";
}

@section Navbar {
    @await Html.PartialAsync("../Shared/Sections/Navbar/_Navbar.cshtml")
}

@section VerticalMenu {
    @await Html.PartialAsync("../Shared/Sections/Menu/_VerticalMenu.cshtml", null, new ViewDataDictionary(ViewData) { { "Language", ViewBag.Lang } })
}

<h1 class="h4 mt-3">Ürünler</h1>
<hr />

<div class="mb-3">
    <a class="btn btn-secondary" asp-controller="Products" asp-action="Create" asp-route-lang="@ViewBag.Lang">Ürün Ekle</a>

    <div class="bx-pull-right">
        <form asp-controller="ExportData" asp-action="ExportProductsDataToFile" method="post" enctype="multipart/form-data">
            <input type="hidden" id="Export" name="Export" value="" />
            <input type="hidden" id="Language" name="Language" value="@ViewBag.Lang" />

            <button type="submit" id="btnExcel" download>
                <img src="/img/icons/excel.png" style="width: 40px;" />
            </button>

            <button type="submit" id="btnPdf" download>
                <img src="/img/icons/pdf.png" style="width: 40px;" />
            </button>

            <button type="submit" id="btnWord" download>
                <img src="/img/icons/word.png" style="width: 40px;" />
            </button>
        </form>
    </div>
</div>

<div class="w-100 overflow-scroll" style="height: 800px;">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-1">Id</th>
                <th class="col-2">Ürün Adı</th>
                <th>Ücreti</th>
                <th>Açıklama</th>
                <th>Kategori</th>
                <th>Marka</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                <tr class="ProductRows" data-productid="@product.Id" data-lang="@ViewBag.Lang">
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price?.ToString("0.00") TL</td>
                    <td>@Html.Raw(@product.Description)</td>
                    <td>@product.SubCategory.Name</td>
                    <td>@product.Brand.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" asp-route-lang="@ViewBag.Lang">Düzenle</a>
                        <a class="btn btn-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" asp-route-lang="@ViewBag.Lang">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewBag.ProductImages != null)
{
    <h1 class="h4">Ürün Resimleri</h1>
    <hr />

    <div class="mb-3">
        <a id="btnCreateProductImage" class="btn btn-secondary" style="color:#fff;" data-productid="@ViewBag.ProductId" data-lang="@ViewBag.Lang">Ürün Resmi Ekle</a>
    </div>

    @if (ViewBag.ProductImages.Count > 0)
    {
        <div class="w-100 overflow-scroll" style="height: 800px;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Resim</th>
                        <th>Url</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ProductImage productImage in ViewBag.ProductImages)
                    {
                        <tr>
                            <td>@productImage.Id</td>
                            <td><img src="@productImage.Url" width="80" height="80" /></td>
                            <td>@productImage.Url</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Products" asp-action="EditProductImage" asp-route-id="@productImage.Id" asp-route-lang="@ViewBag.Lang">Düzenle</a>
                                <a class="btn btn-danger" asp-controller="Products" asp-action="DeleteProductImage" asp-route-id="@productImage.Id" asp-route-lang="@ViewBag.Lang">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    else
    {
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Herhangi bir kayıt bulunmamaktadır.</td>
                </tr>
            </tbody>
        </table>
    }
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnProducts").css("background-color", "#788393");
            $("#btnProducts").css("color", "#fff");
            $("#btnBrands").css("background-color", "#fff");
            $("#btnCities").css("background-color", "#fff");
            $("#btnCategories").css("background-color", "#fff");
            $("#btnUsers").css("background-color", "#fff");
            $("#btnRoles").css("background-color", "#fff");
            let searchParams = new URLSearchParams(window.location.search);
            let lang = searchParams.get('lang');

            if (lang == "en") {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-en");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu > .dropdown-item").data("lang", "tr");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Search...");
                $($(".h4")[0]).text($($(".h4")[0]).text().replace("Ürünler", "Products"));

                if ($(".h4")[1] != null) {
                    $($(".h4")[1]).text($($(".h4")[1]).text().replace("Ürün Resimleri", "Product Images"));
                }

                $($(".btn-secondary")[0]).text($($(".btn-secondary")[0]).text().replace("Ürün Ekle", "Add Product"));
                $(".btn-primary").text("Edit");
                $(".btn-danger").text("Delete");

                if ($(".btn-secondary")[1] != null) {
                    $($(".btn-secondary")[1]).text($($(".btn-secondary")[1]).text().replace("Ürün Resmi Ekle", "Add Product Image"));
                }

                $($(".table > thead > tr > th")[1]).text("Product Name");
                $($(".table > thead > tr > th")[2]).text("Price");
                $($(".table > thead > tr > th")[3]).text("Description");
                $($(".table > thead > tr > th")[4]).text("Category");
                $($(".table > thead > tr > th")[5]).text("Brand");
                $($(".table > thead > tr > th")[8]).text("Image");

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetProducts",
                    dataType: 'Json',
                    success: function (products) {
                        if (products.length > 0) {
                            let j = 0;

                            for (let i = 0; i < products.length; i++) {
                                let $targetCell = $(".table > tbody > tr > td").eq(1 + j);
                                $targetCell.text(products[i].ml2Name == null ? products[i].name : products[i].ml2Name);
                                j += 7;
                            }
                        }
                    }
                });

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetProducts",
                    dataType: 'Json',
                    success: function (products) {
                        if (products.length > 0) {
                            let j = 0;

                            for (let i = 0; i < products.length; i++) {
                                let $targetCell = $(".table > tbody > tr > td").eq(4 + j);
                                $targetCell.text(products[i].subCategory.ml2Name == null ? products[i].subCategory.name : products[i].subCategory.ml2Name);
                                j += 7;
                            }
                        }
                    }
                });

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetProducts",
                    dataType: 'Json',
                    success: function (products) {
                        if (products.length > 0) {
                            let j = 0;

                            for (let i = 0; i < products.length; i++) {
                                let $targetCell = $(".table > tbody > tr > td").eq(5 + j);
                                $targetCell.text(products[i].brand.ml2Name == null ? products[i].brand.name : products[i].brand.ml2Name);
                                j += 7;
                            }
                        }
                    }
                });

                if ($(".table-bordered > tbody > tr > td").last().text() == "Herhangi bir kayıt bulunmamaktadır.") {
                    $(".table-bordered > tbody > tr > td").last().text($(".table-bordered > tbody > tr > td").last().text().replace("Herhangi bir kayıt bulunmamaktadır.", "There are no records."));
                }

                $("#page-title").text("Products");
                $("#btnProducts > div").text("Products");
                $("#btnBrands > div").text("Brands");
                $("#btnCategories > div").text("Categories");
                $("#btnCities > div").text("Cities");
                $("#btnUsers > div").text("Users");
                $("#btnRoles > div").text("Roles");
                $("#btnOrders > div").text("Orders");
            }

            else {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-tr");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu > .dropdown-item").data("lang", "en");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Ara...");
                $($(".h4")[0]).text($($(".h4")[0]).text().replace("Products", "Ürünler"));

                if ($(".h4")[1] != null) {
                    $($(".h4")[1]).text($($(".h4")[1]).text().replace("Product Images", "Ürün Resimleri"));
                }

                $($(".btn-secondary")[0]).text($($(".btn-secondary")[0]).text().replace("Add Product", "Ürün Ekle"));
                $(".btn-primary").text("Düzenle");
                $(".btn-danger").text("Sil");

                if ($(".btn-secondary")[1] != null) {
                    $($(".btn-secondary")[1]).text($($(".btn-secondary")[1]).text().replace("Add Product Image", "Ürün Resmi Ekle"));
                }

                $($(".table > thead > tr > th")[1]).text("Ürün Adı");
                $($(".table > thead > tr > th")[2]).text("Ücreti");
                $($(".table > thead > tr > th")[3]).text("Açıklama");
                $($(".table > thead > tr > th")[4]).text("Kategori");
                $($(".table > thead > tr > th")[5]).text("Marka");
                $($(".table > thead > tr > th")[8]).text("Resim");

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetProducts",
                    dataType: 'Json',
                    success: function (products) {
                        if (products.length > 0) {
                            let j = 0;

                            for (let i = 0; i < products.length; i++) {
                                let $targetCell = $(".table > tbody > tr > td").eq(1 + j);
                                $targetCell.text(products[i].ml1Name == null ? products[i].name : products[i].ml1Name);
                                j += 7;
                            }
                        }
                    }
                });

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetProducts",
                    dataType: 'Json',
                    success: function (products) {
                        if (products.length > 0) {
                            let j = 0;

                            for (let i = 0; i < products.length; i++) {
                                let $targetCell = $(".table > tbody > tr > td").eq(4 + j);
                                $targetCell.text(products[i].subCategory.ml1Name == null ? products[i].subCategory.name : products[i].subCategory.ml1Name);
                                j += 7;
                            }
                        }
                    }
                });

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetProducts",
                    dataType: 'Json',
                    success: function (products) {
                        if (products.length > 0) {
                            let j = 0;

                            for (let i = 0; i < products.length; i++) {
                                let $targetCell = $(".table > tbody > tr > td").eq(5 + j);
                                $targetCell.text(products[i].brand.ml1Name == null ? products[i].brand.name : products[i].brand.ml1Name);
                                j += 7;
                            }
                        }
                    }
                });

                if ($(".table-bordered > tbody > tr > td").last().text() == "There are no records.") {
                    $(".table-bordered > tbody > tr > td").last().text($(".table-bordered > tbody > tr > td").last().text().replace("There are no records.", "Herhangi bir kayıt bulunmamaktadır"));
                }

                $("#page-title").text("Ürünler");
                $("#btnProducts > div").text("Ürünler");
                $("#btnBrands > div").text("Markalar");
                $("#btnCategories > div").text("Kategoriler");
                $("#btnCities > div").text("Şehirler");
                $("#btnUsers > div").text("Kullanıcılar");
                $("#btnRoles > div").text("Roller");
                $("#btnOrders > div").text("Siparişler");
            }
        });

        $(document).on("click", ".ProductRows", function () {
            var prdID = $(this).data("productid");
            var lang = $(this).data("lang");

            if (lang != null) {
                window.location.href = "/Products/Index?productId=" + prdID + "&lang=" + lang;
            }

            else {
                window.location.href = "/Products/Index?productId=" + prdID;
            }
        });

        $(document).on("click", "#btnCreateProductImage", function () {
            var prdID = $(this).data("productid");
            var lang = $(this).data("lang");

            if (lang != null) {
                window.location.href = "/Products/CreateProductImage?productId=" + prdID + "&lang=" + lang;
            }

            else {
                window.location.href = "/Products/CreateProductImage?productId=" + prdID;
            }
        });

        $(document).on("click", "#btnExcel", function () {
            $("#Export").val("Excel");
        });

        $(document).on("click", "#btnPdf", function () {
            $("#Export").val("Pdf");
        });

        $(document).on("click", "#btnWord", function () {
            $("#Export").val("Word");
        });
    </script>
}