@model List<City>

@{
    ViewData["Title"] = "Şehirler";
}

@section Navbar {
    @await Html.PartialAsync("../Shared/Sections/Navbar/_Navbar.cshtml")
}

@section VerticalMenu {
    @await Html.PartialAsync("../Shared/Sections/Menu/_VerticalMenu.cshtml", null, new ViewDataDictionary(ViewData) { { "Language", ViewBag.Lang } })
}

<h1 class="h4 mt-3">Şehirler</h1>
<hr />

<div class="mb-3">
    <a class="btn btn-secondary" asp-controller="Cities" asp-action="Create" asp-route-lang="@ViewBag.Lang">Şehir Ekle</a>

    <div class="bx-pull-right">
        <form asp-controller="ExportData" asp-action="ExportCitiesDataToFile" method="post" enctype="multipart/form-data">
            <input type="hidden" id="Export" name="Export" value="" />
            <input type="hidden" id="Language" name="Language" value="@ViewBag.Lang" />

            <button type="submit" id="btnExcel" download>
                <img src="/img/icons/excel.png" style="width: 40px;" />
            </button>

            <button type="submit" id="btnPdf" download>
                <img src="/img/icons/pdf.png" style="width: 40px;" />
            </button>

            <button type="submit" id="btnWord" download>
                <img src="/img/icons/word.png" style="width: 40px;" />
            </button>
        </form>
    </div>
</div>

<div class="w-100 overflow-scroll" style="height: 800px;">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-2">Id</th>
                <th class="col-8">Şehir Adı</th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (City city in Model)
            {
                <tr>
                    <td>@city.Id</td>
                    <td>@city.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Cities" asp-action="Edit" asp-route-id="@city.Id" asp-route-lang="@ViewBag.Lang">Düzenle</a>
                        <a class="btn btn-danger" asp-controller="Cities" asp-action="Delete" asp-route-id="@city.Id" asp-route-lang="@ViewBag.Lang">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnProducts").css("background-color", "#fff");
            $("#btnBrands").css("background-color", "#fff");
            $("#btnCities").css("background-color", "#788393");
            $("#btnCities").css("color", "#fff");
            $("#btnCategories").css("background-color", "#fff");
            $("#btnUsers").css("background-color", "#fff");
            $("#btnRoles").css("background-color", "#fff");
            let searchParams = new URLSearchParams(window.location.search);
            let lang = searchParams.get('lang');

            if (lang == "en") {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-en");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu > .dropdown-item").data("lang", "tr");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Search...");
                $(".h4").text($(".h4").text().replace("Şehirler", "Cities"));
                $(".btn-secondary").text("Add City");
                $($(".table > thead > tr > th")[1]).text("City Name");
                $(".btn-primary").text("Edit");
                $(".btn-danger").text("Delete");
                $("#page-title").text("Cities");
                $("#btnProducts > div").text("Products");
                $("#btnBrands > div").text("Brands");
                $("#btnCategories > div").text("Categories");
                $("#btnCities > div").text("Cities");
                $("#btnUsers > div").text("Users");
                $("#btnRoles > div").text("Roles");
                $("#btnOrders > div").text("Orders");
            }

            else {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-tr");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu > .dropdown-item").data("lang", "en");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Ara...");
                $(".h4").text($(".h4").text().replace("Cities", "Şehirler"));
                $(".btn-secondary").text("Şehir Ekle");
                $($(".table > thead > tr > th")[1]).text("Şehir Adı");
                $(".btn-primary").text("Düzenle");
                $(".btn-danger").text("Sil");
                $("#page-title").text("Şehirler");
                $("#btnProducts > div").text("Ürünler");
                $("#btnBrands > div").text("Markalar");
                $("#btnCategories > div").text("Kategoriler");
                $("#btnCities > div").text("Şehirler");
                $("#btnUsers > div").text("Kullanıcılar");
                $("#btnRoles > div").text("Roller");
                $("#btnOrders > div").text("Siparişler");
            }
        });

        $(document).on("click", "#btnExcel", function () {
            $("#Export").val("Excel");
        });

        $(document).on("click", "#btnPdf", function () {
            $("#Export").val("Pdf");
        });

        $(document).on("click", "#btnWord", function () {
            $("#Export").val("Word");
        });
    </script>
}