@model SubCategoryViewModel

@{
    ViewData["Title"] = "Alt Kategori Düzenle";
}

@section Navbar {
    @await Html.PartialAsync("../Shared/Sections/Navbar/_Navbar.cshtml")
}

@section VerticalMenu {
    @await Html.PartialAsync("../Shared/Sections/Menu/_VerticalMenu.cshtml", null, new ViewDataDictionary(ViewData) { { "Language", ViewBag.Lang } })
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        @ViewBag.Message
    </div>
}

<h1 class="h4 mt-3">Alt Kategori Düzenle</h1>
<hr />

<form asp-controller="Categories" asp-action="EditSubCategory" asp-route-lang="@ViewBag.Lang" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label" id="lblSubCategoryName"></label>

        <div class="d-flex">
            <input type="text" asp-for="Name" class="form-control" />
            <input type="hidden" asp-for="Ml1Name" />
            <input type="hidden" asp-for="Ml2Name" />
            <div class="dropdown">
                <button class="btn btn-white dropdown-toggle h-100 bg-white border" type="button" id="dropdownSubCategoryNameMenuButton" data-toggle="dropdown" onclick="langSelectorSubCategoryNameUpdClick()" onblur="langSelectorSubCategoryNameUpdBlur()">
                    <span class="flag-icon flag-icon-tr"></span>
                </button>
                <div class="dropdown-menu lang-menu-sub-category-name-upd" style="min-width:60px;" aria-labelledby="dropdownSubCategoryNameMenuButton">
                    <a class="dropdown-item" style="cursor:pointer;" data-lang="en">
                        <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg" width="30" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Url" class="form-label"></label>
        <input type="text" asp-for="Url" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label" id="lblCategory"></label>
        <select class="form-select" asp-for="CategoryId">
            @foreach (Category category in @ViewBag.Categories)
            {
                @if (Model.CategoryId == category.Id)
                {
                    <option value="@category.Id" selected>@category.Name</option>
                }

                else
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
    </div>

    <input type="submit" class="btn btn-primary" value="Kaydet" />
    <button asp-controller="Categories" asp-action="Index" asp-route-lang="@ViewBag.Lang" class="btn btn-danger">İptal</button>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnProducts").css("background-color", "#fff");
            $("#btnBrands").css("background-color", "#fff");
            $("#btnCities").css("background-color", "#fff");
            $("#btnCategories").css("background-color", "#788393");
            $("#btnCategories").css("color", "#fff");
            $("#btnUsers").css("background-color", "#fff");
            $("#btnRoles").css("background-color", "#fff");
            let searchParams = new URLSearchParams(window.location.search);
            let lang = searchParams.get('lang');

            if (lang == "en") {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-en");
                $("#dropdownSubCategoryNameMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownSubCategoryNameMenuButton > .flag-icon").addClass("flag-icon-en");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu > .dropdown-item").data("lang", "tr");
                $(".lang-menu-sub-category-name-upd > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu-sub-category-name-upd > .dropdown-item").data("lang", "tr");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Search...");
                $(".h4").text($(".h4").text().replace("Alt Kategori Düzenle", "Edit Sub Category"));
                $("#lblSubCategoryName").text("Sub Category Name *");
                $("#lblCategory").text("Category");
                $(".btn-primary").val("Save");
                $(".btn-danger").text("Cancel");
                $(".alert-danger").text("This record is already exists.");
                $("#page-title").text("Edit Sub Category");

                if ($("#Ml2Name").val() != '') {
                    $("#Name").val($("#Ml2Name").val());
                }

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetCategories",
                    dataType: 'Json',
                    success: function (categories) {
                        if (categories.length > 0) {
                            for (let i = 0; i < categories.length; i++) {
                                let $targetCell = $("#CategoryId > option").eq(i);
                                $targetCell.text(categories[i].ml2Name == null ? categories[i].name : categories[i].ml2Name);
                            }
                        }
                    }
                });

                $("#btnProducts > div").text("Products");
                $("#btnBrands > div").text("Brands");
                $("#btnCategories > div").text("Categories");
                $("#btnCities > div").text("Cities");
                $("#btnUsers > div").text("Users");
                $("#btnRoles > div").text("Roles");
                $("#btnOrders > div").text("Orders");
                $($(".validation-summary-errors > ul > li")[0]).text($($(".validation-summary-errors > ul > li")[0]).text().replace("Alt Kategori Adı bilgisi zorunlu.", "Sub Category Name field is required."));
                $($(".validation-summary-errors > ul > li")[0]).text($($(".validation-summary-errors > ul > li")[0]).text().replace("Url bilgisi zorunlu.", "Url field is required."));
                $($(".validation-summary-errors > ul > li")[1]).text($($(".validation-summary-errors > ul > li")[1]).text().replace("Alt Kategori Adı bilgisi zorunlu.", "Sub Category Name field is required."));
                $($(".validation-summary-errors > ul > li")[1]).text($($(".validation-summary-errors > ul > li")[1]).text().replace("Url bilgisi zorunlu.", "Url field is required."));
            }

            else {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-tr");
                $("#dropdownSubCategoryNameMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownSubCategoryNameMenuButton > .flag-icon").addClass("flag-icon-tr");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu > .dropdown-item").data("lang", "en");
                $(".lang-menu-sub-category-name-upd > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu-sub-category-name-upd > .dropdown-item").data("lang", "en");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Ara...");
                $(".h4").text($(".h4").text().replace("Add Sub Category", "Alt Kategori Ekle"));
                $("#lblSubCategoryName").text("Alt Kategori Adı *");
                $("#lblCategory").text("Kategori");
                $(".btn-primary").val("Kaydet");
                $(".btn-danger").text("İptal");
                $(".alert-danger").text("Böyle bir kayıt zaten var.");
                $("#page-title").text("Alt Kategori Düzenle");

                if ($("#Ml1Name").val() != '') {
                    $("#Name").val($("#Ml1Name").val());
                }

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetCategories",
                    dataType: 'Json',
                    success: function (categories) {
                        if (categories.length > 0) {
                            for (let i = 0; i < categories.length; i++) {
                                let $targetCell = $("#CategoryId > option").eq(i);
                                $targetCell.text(categories[i].ml1Name == null ? categories[i].name : categories[i].ml1Name);
                            }
                        }
                    }
                });

                $("#btnProducts > div").text("Ürünler");
                $("#btnBrands > div").text("Markalar");
                $("#btnCategories > div").text("Kategoriler");
                $("#btnCities > div").text("Şehirler");
                $("#btnUsers > div").text("Kullanıcılar");
                $("#btnRoles > div").text("Roller");
                $("#btnOrders > div").text("Siparişler");
            }
        });

        function langSelectorSubCategoryNameUpdClick() {
            if ($(".lang-menu-sub-category-name-upd").is(":visible")) {
                $(".lang-menu-sub-category-name-upd").hide();
            }

            else {
                $(".lang-menu-sub-category-name-upd").show();
            }
        }

        function langSelectorSubCategoryNameUpdBlur() {
            setTimeout(
                function () {
                    $(".lang-menu-sub-category-name-upd").hide();
                }, 100
            );
        }

        $(document).on("click", ".lang-menu-sub-category-name-upd > .dropdown-item", function () {
            let lang = $(this).data("lang");

            if (lang == "en") {
                $("#dropdownSubCategoryNameMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownSubCategoryNameMenuButton > .flag-icon").addClass("flag-icon-en");
                $(".lang-menu-sub-category-name-upd > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu-sub-category-name-upd > .dropdown-item").data("lang", "tr");
                $("#Name").data("tr", $("#Name").val());
                $("#Name").val($("#Ml2Name").val());
                $("#Ml1Name").val($("#Name").data("tr"));
            }

            else {
                $("#dropdownSubCategoryNameMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownSubCategoryNameMenuButton > .flag-icon").addClass("flag-icon-tr");
                $(".lang-menu-sub-category-name-upd > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu-sub-category-name-upd > .dropdown-item").data("lang", "en");
                $("#Name").data("en", $("#Name").val());
                $("#Name").val($("#Ml1Name").val());
                $("#Ml2Name").val($("#Name").data("en"));
            }
        });

        $(document).on("blur", "#Name", function () {
            let lang = $(".lang-menu-sub-category-name-upd > .dropdown-item").data("lang");

            if (lang == "en") {
                $("#Ml1Name").val($("#Name").val());
            }

            else {
                $("#Ml2Name").val($("#Name").val());
            }
        });
    </script>
}